html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.blocks{
    position: relative;
    height: 920px;
    background-color: #E1F5FE;
}

.block{
    position: absolute;
}
.block-size{
    background-color: #A5D6A7;
    border: 1px solid;
}

.control-panel{
    background-color: red;
    width: 100%;
    border-bottom: 10px solid #ccc;
    padding: 10px;
}
.remove{
    position: absolute;
    color: #EF5350;
    float: left;
    margin-left: 2px;
    margin-top: 2px;
    z-index: 1000;
}